<!doctype html>
<title>IRTM Home Assignment 2</title>
<body>
<table width = "80%" align="center"><tr><td>
<form  action="/query" method="GET">
    Try another query: <input type="text" name="query"><input type="submit" value="Submit"><br />
    <input type="checkbox" name="spellcheck" value="yes">Spellcheck query<br>
</form>
</td>
</tr>
</table>
Search results for {{ query }}: {{total}} result(s).<br />
<table width="90%">
{% for result in results %}
<tr>
    <td width="10%"><font size="-1">{{ result[0] }}</font></td>
    <td>{{ result[1] }}</td>
</tr>
{% endfor %}
</table>
</body>